LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_AGENT_NAME=my-agent

GOOGLE_API_KEY=
DEEPGRAM_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM

DEEPGRAM_STT_MODEL=deepgram/nova-3-general
DEEPGRAM_STT_LANGUAGE=en
GEMINI_LLM_MODEL=google/gemini-2.5-flash-lite
ELEVENLABS_TTS_MODEL=elevenlabs/eleven_multilingual_v2
ELEVENLABS_TTS_LANGUAGE=en
PREEMPTIVE_GENERATION=true
